<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar "></div>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Student </h1>
            <div class = "card-body">
                <form th:action="@{/subjects}" th:object = "${subject}" method="POST">
                    <div class ="form-group">
                        <label> Subject Name </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter Subject Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Subject Description </label>
                        <input
                                type = "text"
                                name = "description"
                                th:field = "*{description}"
                                class = "form-control"
                                placeholder="Enter Subject Description"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Student Coefficient </label>
                        <input
                                type = "text"
                                name = "coef"
                                th:field = "*{coef}"
                                class = "form-control"
                                placeholder="Enter Subject Coefficient"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>