<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/marks}">Mark Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New Student Mark</h1>
            <div class="card-body">
                <form th:action="@{/marks}" th:object="${mark}" method="POST">
                    <div class="form-group">
                        <label>Student First Name</label>
                        <input
                                type="text"
                                th:field="*{student.firstName}"
                                class="form-control"
                                placeholder="Enter Student First Name"
                        />
                    </div>

                    <div class="form-group">
                        <label>Student Last Name</label>
                        <input
                                type="text"
                                th:field="*{student.lastName}"
                                class="form-control"
                                placeholder="Enter Student Last Name"
                        />
                    </div>

                    <div class="form-group">
                        <label>Subject Name</label>
                        <input
                                type="text"
                                th:field="*{subject.name}"
                                class="form-control"
                                placeholder="Enter Subject Name"
                        />
                    </div>

                    <div class="form-group">
                        <label>Marks Obtained</label>
                        <input
                                type="number"
                                th:field="*{marksObtained}"
                                class="form-control"
                                placeholder="Enter Marks Obtained"
                        />
                    </div>

                    <div class="form-group">
                        <label>Exam Date</label>
                        <input
                                type="text"
                                th:field="*{examDate}"
                                class="form-control datepicker"
                                placeholder="Select Exam Date"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        });
    });
</script>
</body>
</html>
