<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar "></div>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Student </h1>
            <div class = "card-body">
                <form th:action="@{/marks/{id} (id=${mark.id})}" th:object = "${mark}" method="POST">
                    <div class ="form-group">
                        <label> Student First Name </label>
                        <input
                                type = "text"
                                name = "firstName"
                                th:field = "*{student.firstName}"
                                class = "form-control"
                                placeholder="Enter Student First Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Student Last Name </label>
                        <input
                                type = "text"
                                name = "lastName"
                                th:field = "*{student.lastName}"
                                class = "form-control"
                                placeholder="Enter Student Last Name"
                        />
                    </div>

                    <div class="form-group">
                        <label>Subject Name</label>
                        <input
                                type="text"
                                th:field="*{subject.name}"
                                class="form-control"
                                placeholder="Enter Subject Name"
                        />
                    </div>

                    <div class="form-group">
                        <label>Marks Obtained</label>
                        <input
                                type="number"
                                th:field="*{marksObtained}"
                                class="form-control"
                                placeholder="Enter Marks Obtained"
                        />
                    </div>

                    <div class="form-group">
                        <label>Exam Date</label>
                        <input
                                type="text"
                                th:field="*{examDate}"
                                class="form-control datepicker"
                                placeholder="Select Exam Date"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>