<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar "></div>

<div class ="container">
    <div class = "row">
        <h1> List Marks </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/marks/new}" class = "btn btn-primary btn-sm mb-3"> Add Mark</a>
        </div>
    </div>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> marksObtained</th>
            <th> FIRST NAME</th>
            <th> LAST NAME </th>
            <th>Name of subject</th>
            <th> Date of exam</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "mark: ${marks}">
            <td th:text = "${mark.marksObtained}"></td>
           <td th:text = "${mark.student.firstName}"></td>
            <td th:text = "${mark.student.lastName}"></td>
            <td th:text = "${mark.subject.name}"></td>
            <td th:text = "${mark.examDate}"></td>
            <td>
                <a th:href = "@{/marks/edit/{id}(id=${mark.id})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/marks/{id}(id=${mark.id})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>